body{
    font-family: 'Raleway', sans-serif;
    background-image: url(./img/White\ Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}

/* NAV BAR */
a {
    color: rgb(87, 87, 87);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight:400;
}

.nav-link{
    font-size: 1.1;
}

.hero-content {
    margin-top: 4rem;
}

.hero-content h1{
    font-weight: 900;
    font-size: 4rem;
}

.hero-content h3{
    font-weight: 700;
}

.social-icons-hero div{
   border: solid 1px gray;
   border-radius: 50%;
   
}

/* ABOUT */

.about {
    font-weight:700;
    font-size: 4rem;
}

.btn-main{
    background-color: gray;
    color: white;
    font-size: 1em;
}
